# sample settings

force_ssl: true

dwolla:
  api_key            : api_key
  api_secret         : api_secret
  account_id         : account_id
  pin_account        : pin_account
  company_token      : company_token
  dwolla_grant_source_account : dwolla_grant_source_account

etrade:
  oauth_consumer_key : oauth_consumer_key
  consumer_secret    : consumer_secret

stripe:
  api_key            : api_key
  publishable_key    : publishable_key
  fees               : 0.029
  fees_cents         : 0.30
  
giv:
  giv_fee_percentage : 0.04
  giv_grant_amount   : .0125
  share_precision    : 20
  email_support      : info@giv2giv.org