# Test settings

force_ssl: true

giv:
  web_url                : http://test.giv2giv.org/
  api_url                : https://apitest.giv2giv.org/
  quarterly_grant_percent           : .0125
  minimum_donation_amount: 5
  minimum_grant_amount   : 20
  grant_password         : reallyLongUnguessablePassword!!
  share_precision    : 20
  email_contact      : hello@yourdomain.org
  cookie_key         : "really-long-SecureRandom-string" # Make sure this secret key is at least 30 characters and all random, no regular words or you'll be exposed to dictionary attacks.

mailer:
  enable_starttls_auto:   true
  address:                smtpserver.yourdomain.org
  port:                   25
  authentication:         login
  domain:                 yourdomain.org
  user_name:              hello@yourdomain.org
  password:               long-password

stripe:
  api_key:             sk_test_yb0dcOLvlXCEfaQTEFfMCGGZ #test
  publishable_key:     pk_test_d678rStKUyF2lNTZ3MfuOoHy #test

etrade:
  sandbox_mode:        "true"
  etrade_site:          https://etwssandbox.etrade.com
  oauth_consumer_key:  4d2fd4cd312c1904069f2970c89899df  #sandbox
  consumer_secret:     57ae0f198d4b8efb4e73d95d35cfcc3f  #sandbox

facebook:
  app_id:               your-facebook-app-id
  app_secret:           your-facebook-secret

google:
  client_id:            your-google-client-id
  client_secret:        your-google-client-secret
  geocoder_client_id:   your-google-maps-gme-client-id
  geocoder_client_key:  your-google-maps-client-key

twitter:
  api_key:              your-twitter-api-key
  api_secret:           your-twitter-api-secret

knox:
  api_key:               your-knox-api-key
  api_password:          your-knox-api-password


dwolla:
  sandbox_mode:        "true"
  api_key:        dwolla-api-key
  api_secret:     dwolla-api-secret
  account_id:     dwolla-account-id
  pin_account:    dwolla-pin
  company_token:  dwolla-token
  dwolla_grant_source_account: dwolla-grant-source-account
  dwolla_fee_destination_account: dwolla-grant-destination-account
